@import "tailwindcss";

@layer components {
  .brand-text {
    @apply font-semibold uppercase text-[#7C241F];
  }
  .brand-color{
    @apply text-[#7C241F]
  }
}

body {
  font-family: "Inter", sans-serif;
}
/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* White arrows */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 1rem;
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Pagination Bullets */
.swiper-pagination-bullet {
  background: rgb(255, 38, 0) !important;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ff5722; /* Highlight color */
  width: 16px;
  height: 16px;
}

.swiper-wrapper {
  overflow: visible !important;
}

.swiper-slide {
  overflow: visible !important;
}
.topProductSlider .swiper-wrapper {
  justify-content: center;
}
